[Desktop Entry]
Type=Application
Name=OpenOCD max32690
GenericName=OpenOCD max32690
Comment=Open-source electronics prototyping platform
Exec="/opt/xpack-openocd-0.12.0-4/bin/openocd -f interface/cmsis-dap.cfg -c \"transport select swd\" -f target/max32690.cfg -c \\"bindto 0.0.0.0\\""
Icon=applications-utilities
Terminal=true
Categories=Development
Keywords=embedded electronics;electronics;microcontroller;debug;
