[Desktop Entry]
Type=Application
Name=OpenOCD nRF52 DevKit
GenericName=OpenOCD nRF52 DevKit
Comment=Open-source electronics prototyping platform
Exec="/opt/xpack-openocd-0.12.0-4/bin/openocd -f interface/jlink.cfg -c \"transport select swd\" -f target/nrf52.cfg -c \\"bindto 0.0.0.0\\""
Icon=applications-utilities
Terminal=true
Categories=Development
Keywords=embedded electronics;electronics;microcontroller;debug;
