# Ignore files and folders created by VSCode

**/.cache
**/.gitconfig
**/.cortex-debug
**/.vscode-server
**/.bash_history
**/.gnupg/
**/.lesshst
**/.local/
**/.viminfo
**/.devcontainer/.*Marker
**/.dotnet/
**/.ipython/

# Ignore any OCP Viewer files
**.ocpvscode

# Ignore any .gitconfig
**/.gitconfig*

# Ignore secrets
**/secrets/*



