# Ignore files and folders created by VSCode

**/.cache
**/.gitconfig
**/.cortex-debug
**/.vscode-server
**/.bash_history
**/.gnupg/
**/.lesshst
**/.local/
**/.viminfo
**/.devcontainer/.*Marker

# Ignore any .gitconfig
**/.gitconfig*

# Ignore secrets
**/secrets/*



